
@{
    ViewBag.Title = "ImportarDados";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@section PartialSection {


    <link rel="stylesheet" href="../../content/css/bootstrap-select.css">
    <script src="../../scripts/bootstrap-select.js"></script>

    <style>
        .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn)
        {
            margin-bottom: 20px;
        }

    </style>
}

<div style="height:800px;">
    <h2>Importar Dados</h2>
    <hr />
    <div>
        <h3>Selecione o arquivo com os dados a serem importados</h3>
            <label class="file">
                <input type="file" id="file" >
                <span class="file-custom"></span>
            </label>
    </div>
    <div>
        <h3>Selecione o sistema de origem que gerou o arquivo</h3>
        <select class="selectpicker">
            <option>Selecionar...</option>
            <option>LBC Sistemas</option>
            <option>Inforlub</option>
        </select>
    </div>
    <button type="button" class="btn  btn-primary">Iniciar importação</button>
</div>

