@model SistemaTNE.Models.DropTableModel

@section PartialSection {

    <link rel="stylesheet" href="../../content/css/bootstrap-select.css">
    <script src="../../scripts/bootstrap-select.js"></script>
    <style type="text/css">
        .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
            width: 300px;
            margin-right: 6px;
        }
    </style>
}

<div class="panel panel-default">
    <div class="panel-heading">@Model.Titulo</div>
    <div class="panel-body">
        <div style="padding: 10px;">
            <div style=" margin-bottom: 30px;">
                <select class="selectpicker">
                    <option>Mustard</option>
                    <option>Ketchup</option>
                    <option>Relish</option>
                </select>
                <button type="submit" class="btn btn-primary">Remover</button>
            </div>
            <div class="table-responsive">
                <table class="table table-bordered table-hover table-striped" style="width: auto;">

                    <tbody>
                        <tr>
                            <td style="width: 300px;">Lavagem</td>

                            <td><button type="submit" class="btn btn-primary">Remover</button></td>
                        </tr>
                        <tr>
                            <td>Troca de Óleo</td>

                            <td><button type="submit" class="btn btn-primary">Remover</button></td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
